body {
    padding: 0%;
    margin: 0%;
}

.topnav {
    background-color: sandybrown;
    width: 100%;
    height: 40px;
    display: flex;
}

.topnav ul li {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    margin-left: -10px;
    margin-top: -30px;
}


.abt {
    background-color: rgb(245, 236, 224);
    height: 300px;
    width: 100%;

}

.abt .image {
    height: 300px;
    width: 100%;
}

.abt p {
    S font-weight: bolder;
    font-size: xx-large;
    margin-left: 30%;
}

.abt h1 {
    margin-bottom: 300px;
    font-weight: 800;
}

.msv {
    font-weight: 900;
    font-size: xx-large;
    margin-left: 1%;

}

ul {
    display: flex;
    gap: 30vw;
}

.msv h1 {
    font-weight: 100;
    font-size: medium;
    margin-right: 5%;
}

.msv h2 {
    font-weight: 900;
    font-size: xx-large;
    margin-left: 500px;
    margin-top: -70px;
    display: flex;

}

.msv h2 p {
    font-weight: 100;
    font-size: medium;
    margin-top: 40px;
    margin-left: -18%;

}

.msv h3 {
    margin-left: 900px;
    margin-top: -95px;

}

.msv h3 p {
    font-weight: 100;
    font-size: medium;
    margin-left: 1%;
    padding-top: -50px;
    margin-top: -5px;



}

.vs {
    margin-left: 2%;
}

.mg2 {
    margin-left: 900px;
    margin-top: -180px;
}

.mg3 {
    margin-left: 450px;
    margin-top: -200px;
}

.footer {
    background-color: #000b33;
    color: white;
    padding: 40px;
    font-family: sans-serif;
    margin-top: 1%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column h3,
.footer-newsletter h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-column ul,
.footer-newsletter p {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.8;
}

.footer-newsletter input[type="email"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 2px solid #00d084;
}

.subscribe-btn {
    background-color: #e76f2c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

hr {
    border: 0.5px solid #ccc;
    margin: 30px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.scroll-top {
    width: 30px;
    height: 30px;
}

.footer-links {
    text-align: center;
    margin-top: 20px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    font-size: 0.9rem;
    text-decoration: none;
}




